@{ ViewBag.Title = "Личный кабинет"; }

<h2>Личный кабинет</h2>


<div class="button mb-20">@Html.ActionLink("Редактировать профиль", "Edit", "Account")</div>
<div class="link">
    @Html.ActionLink("Удалить аккаунт", "Delete", "Account")
</div>